
@media screen and (min-width: 920px){
  .report {
    max-width: 20%;

    float: left;
  }

.container {
  max-width: 70%;
}
}

nav {
  float: right;
  padding: 1%;
}

a {
  color: black;
}

.report {
  background-color: #F8FAFB;
}

#titelschrift {
 text-align: left;
 padding: 1%;
}

header {
  background-color: red;

  margin-bottom: 5%;

}

#destination{
  padding-right: 10px;
}


h1 h2 h3 button {
  font-family: "TheSans Swisscom";
}

h3 {
  color: white;
}

.table__title {
  padding-left: 0px;

}

.reisetitel {
  color: black;
  margin-bottom: 20px;
}

select {
  max-width: 30vw ;
}



#datum {
  max-width: 30vw;
  height: 48px;
  border: 1px solid #bbb;
}

.auswerten {
  margin-top: 5vh;
}

th {
  max-width: 30vw;
}


.container {
  background-color: #F8FAFB;

}

.reise-input {
  margin-bottom: 2px;
}

.buttons {
  margin-top: 10px;
}

input {
  border-color: black;
  border-style: solid;
  background-color: white;
}


#logo {
  max-width: 50px;
  max-height: 50px;
}


.accordion__toggle {
  width: 100%;
}

footer {
  background-color: black;
  padding: 20px;
  color: white;
}

.table__title{
  color: black;
}

#logo {
  padding: 1%;
}
