
<header xmlns="http://www.w3.org/1999/html">

  <img id="logo" src="../assets/bilder/swisscom.png" alt="logo">

  <h3 id="titelschrift">Swisscom Reise-Calculator</h3>

</header>

<app-navbar></app-navbar>

<div class="report">
    <ul class="list-group">
      <li class="list-group-item">Total Reisekosten
        <p>{{getSum()}} CHF </p>
      </li>
     <li class="list-group-item">Kostenverhältnis zum GA
        <p>{{gaRelation()}} % </p>
     </li>
      <li class="list-group-item">
    <app-traffic-light [gaVerh]="gaVerh"></app-traffic-light>
      </li>

      <li class="list-group-item">Reiseziel-Filter <br>
        <label>
          <select [(ngModel)]="filteredDestination" (change)="getDestinationFiltered(filteredDestination)">
            <option *ngFor="let ziel of zielort" [ngValue]="ziel.zielort">{{ziel.zielort}}</option>
          </select>
        </label>
      </li>
     <li class="list-group-item">Monats-Filter <br>
        <label>
          <select [(ngModel)]="filteredDestination" (change)="getMonth(filteredDestination)">
            <option *ngFor="let monat of months" [ngValue]="monat">{{monat}}</option>
          </select>
        </label>
      </li>


      <li class="list-group-item">
        <button (click)="deleteFilter()">Lösche Filter</button>
      </li>
    </ul>
</div>

<div class="container">
    <div class="reise-input">
      <h3 class="reisetitel">Reise erfassen</h3>
      <div class="erfassen">
        <tr  class="input">
          <th>Ziel<br>
            <label>
              <select class="dropdown" [(ngModel)]="reiseDetails.destination">
                <option [value]="undefined" disabled hidden>Select destination </option>
                <option *ngFor="let ziel of zielort" [ngValue]="" >{{ziel.zielort}}</option>
              </select>
            </label>

          <th>Preis<br>
            <label>
              <select class="dropdown" [(ngModel)]="reiseDetails.preis" >
                <option [value]="undefined" disabled hidden>Select price </option>
               <option  *ngFor="let pr of zielort" [ngValue]="pr.kosten">{{pr.kosten + " CHF"}}</option>
            </select>
            </label>

          <th>Datum<br>
            <label for="datum">
              <input id="datum" class="form-control" type="date" [(ngModel)]="reiseDetails.datum" placeholder="datum">
            </label>
            <button type="button"  id="addButton" class="btn btn-primary" (click)="enterReise()" >Erfassen</button>
        </tr>
    </div>
  </div>

  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Collapse">
      <ng-template ngbPanelContent>
        <div class="auswerten">
          <div class="table table-striped table--responsive">
            <h3 align="center" class="table__title">Aktuelle Reisen</h3>
            <div class="table__wrapper">
              <table data-init="">
                <thead>
                <tr>
                  <th datatype="number">Nr</th>
                  <th datatype="text">Ziel</th>
                  <th datatype="number">Preis</th>
                  <th datatype="text">Datum</th>
                  <th datatype="text">Aktion</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let reise of reisen">
                  <td>{{reise.id}}</td>
                  <td>{{reise.destination}}</td>
                  <td>{{reise.preis + ".-"}}</td>
                  <td>{{reise.datum | date}}</td>

                  <td><button class="delete" (click)="deleteTrip(reise.id)">Delete</button></td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>


      </ng-template>
    </ngb-panel>
  </ngb-accordion>


  <div class="chart">

<app-chart></app-chart>


  </div>

</div>

<footer>
Roberto Salerno
</footer>
