@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


@media screen and (min-width: 920px){
  .report {
    max-width: 20%;

    float: left;
  }

.container {
  max-width: 70%;
}
}


nav {
  float: right;
  padding: 1%;
}

a {
  color: black;
}

.report {
  background-color: #F8FAFB;
}

#titelschrift {
  text-align: center;
  padding: 1%;
  font-size: 3em;
  padding-top: 40px;
}

header {
  background-color: red;
  height: 160px;
  font-family: 'Abril Fatface', cursive;
}

thead {
  min-width: 100px;
}

.report {
  font-size: 16px;
}


h3 {
  color: white;
}

.table__title {
  padding-left: 0;
  color: black;
}


.reisetitel {
  color: black;
  margin-bottom: 20px;
}


.container {
  background-color: #F8FAFB;
}


.buttons {
  margin-top: 10px;
}

input {
  border-color: black;
  border-style: solid;
  background-color: white;
}


#logo {
  max-width: 10%;
  height: auto;
  padding: 1%;
  float: left;

}


footer {
  background-color: black;
  padding: 20px;
  color: white;
}

table {
  min-width: 60vw;
  margin: 2%;
}
